<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>读取Excel文件并展示表格</title>
  </head>
  <body>
    <div id="fuck" style="width: 100vw; height: 100vh"></div>
    <script>
      const rootSource =
        "https://raw.githubusercontent.com/kinger906/my-source/public/web/my-player";
        
      fetch("https://raw.githubusercontent.com/kinger906/my-source/public/common/loadSource.js")
        .then((response) => response.text())
        .then((jsCode) => {
          const scriptElement = document.createElement("script");
          scriptElement.textContent = jsCode;
          document.body.appendChild(scriptElement);

          loadSource.loadHtml(
            `${rootSource}/index.html`,
            (html, arrJS, arrCss) => {
              console.log(html,'html')
              document.querySelector("#fuck").innerHTML = html;
              loadSource.loadGroupJsCss(arrJS,'script',rootSource);
              loadSource.loadGroupJsCss(arrCss,'style',rootSource);
            }
          );
        })
        .catch((error) => {
          // 处理错误
          console.error(error);
        });
    </script>
  </body>
</html>
